<!DOCTYPE html>
<html>
    <head>
        <meta charser = "UTF-8">
        <title>사용자 프로필</title>
    </head>
    <body>
        <h1>사용자 프로필</h1>

        <a href = "/logout">로그아웃</a>
        <br>
        <h3>로컬 프로필 정보</h3>
        <br>
        <p>
            <strong>이름</strong> : <%=user.name%><br><br>
            <strong>이메일</strong> : <%=user.email%><br><br>
        </p>
        <br>
    </body>
</html>